node_modules/
dist/
.vite/
/build/
frontend/dist/
frontend/node_modules/
protocol/node_modules/
backend/build/
samples/*/build/*
!samples/*/build/README.md
templates/*/build/*
!templates/*/build/README.md
out/
*.o
*.obj
*.a
*.so
*.dll
*.exe
compile_commands.json
.DS_Store
